.Register-header{
    color: green;
    background-color: silver;
    font-size: 3cm;
    font-style: italic;
}
input {
    width: 50%;
    border: 2px solid green;
  }
  
.Register-form{
    border: 10px;
}
button{
    position: absolute;
    left: 410px;
    top:400px;
    height: 10;
    color: brown;
}